.main {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0,var(--primary),var(--secondary-color));
    z-index: 10;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-user {
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-list {
    display: block;
}

.header__navbar-user-avt {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid var(--halffade-color);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.5rem;
    font-weight: 500;
}

.header__navbar-user-list {
    padding: 0;
    position: absolute;
    z-index: 1;
    background: var(--white-color);
    top: calc(100% + 8px);
    right: 0;
    width: 120px;
    border-radius: 2px;
    box-shadow: 0 1px 5px var(--secondary-color);
    list-style: none;
    display: none;
}

.header__navbar-user-list::before {
    content: "";
    position: absolute;
    border-width: 10px 14px;
    border-style: solid;
    top: -20px;
    right: 36%;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    right: 0;
}

.header__navbar-user-item-separate {
    border-top: 1px solid rgba(0,0,0,0.3);
}

.header__navbar-user-item:last-child a {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item:first-child a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 12px;
    display: block;
}

.header__navbar-user-item a:hover {
    color: var(--primary);
    font-weight: 500;
}

.header__navbar-item ,
.header__navbar-item-link {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header_navbar-icon-after {
    margin-left: -4px;
}

.header__navbar-icon-link,
.header_navbar-icon-after,
.header__navbar-item-link {
    display: inline-flex;
    min-height: 26px;
    align-items: center;
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header_navbar-title--no-pointer:hover {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 1px var(--fade-color);
    height: 16px;
    right: -9px;
    top: 60%;
    transform: translateY(-50%);
}

.header_qr-code { 
    width: 186px; 
    padding: 8px;
    border-radius: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 130%;
    display: none;
    animation: FadeIn ease-in .2s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.header__navbar-item--show-qr:hover .header_qr-code {
    display: block;
}

.header_qr-img {
    width: 100%;
}

.header_qr-code::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -18px;
}

.header_app-link {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.header__app-img {
    height: 16px;
    margin: 0 5px;
}

.header__notify {
    background: var(--white-color);
    width: 404px;
    position: absolute;
    right: 0;
    top: 120%;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 36px) top;
    -webkit-transform-origin: calc(100% - 36px) top;
    animation: NotifyFadeIn ease-in .2s;
    display: none;
    box-shadow: #333;
    z-index: 1;
}

.header__notify::before {
    content: "";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    top: -26px;
    right: 5px;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__notify::after {
    content: "";
    position: absolute;
    width: 88px;
    height: 20px;
    top: -20px;
    right: 0;
}

.header__navbar-item--show-notify:hover .header__notify {
    display: block;
}

@keyframes NotifyFadeIn {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
}

.header__notify-header h3 {
    color: var(--black-color);
    font-weight: 400;
    opacity: 0.3;
    margin: 0;
    font-size: 1.5rem;
    line-height: 40px;
    padding-left: 10px;
    cursor: text;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item--viewed {
    background-color: var(--white-color)!important;
}

.header__notify-item {
    padding: 8px 0;
    padding-left: 10px;
    background: var(--fade-rgba);
}

.header__notify-item:hover {
    background-color: var(--secondary-color);
}

.header__notify-link {
    display: flex;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 8px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 4px 0;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
    font-weight: 500;
}

/* sort-bar */ 
.header__sort-bar {
    margin: 0;
    display: none;
    list-style: none;
    background-color: white;
    padding: 0;
    background-color: var(--fade-color);
}

.header__sort-item {
    position: relative;
    height: var(--sort-bar-height);
    flex: 1;
    text-align: center;
}

.header__sort-item::after {
    content: "";
    position: absolute;
    border-left: 1px solid var(--secondary-color);
    height: 40%;
    top: 52%;
    left: 0;
    transform: translateY(-50%);
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: var(--sort-bar-height);
    display: block;
}

.header__sort-item--active .header__sort-link {
    color: var(--white-color);
}

/* mobile-category */

.mobile-category {
    background: var(--background-color);
    margin: 0 -2px;
    padding: 2px;
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__item {
    flex-shrink: 0;
    padding-right: 4px;
}

.mobile-category__item:nth-of-type(3n+1) .mobile-category__item-link{
    background-color: var(--halffade-color);
}

.mobile-category__item:nth-of-type(3n+2) .mobile-category__item-link{
    background-color: var(--fade-color);
}

.mobile-category__item:nth-of-type(3n+3) .mobile-category__item-link{
    background-color: var(--secondary-color);
}

.mobile-category__item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-align: center;
    width: 110px;
    height: 40px;
    display: block;
    border-radius: 5px;
    padding: 0 4px;
}

/* Authen modal */

.auth-form {
    max-width: 480px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px 16px 12px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.auth-form__switch-btn {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--primary);
    cursor: pointer;
}

.input {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    border: 1px solid var(--secondary-color);
    padding-left: 8px;
    border-radius: 2px;
}

.input.auth-form__input {
    height: 40px;
    margin-bottom: 12px;
    padding-left: 8px;
}

.auth-form__policy {
    font-size: 1.2rem;
    padding: 0 12px 60px 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls .btn {
    margin-left: 8px;
}

.auth-form__socials {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding: 8px;
    background-color: #f5f5f5;
}

.auth-form__icon-social {
    font-size: 1.8rem;
}

.auth-form__social-Fb .auth-form__icon-social {
    color: var(--white-color);
}

.auth-form__social-Gg .auth-form__icon-social {
    color: var(--primary);
}

.auth-form__social-title {
    margin: 37px;
}

.btn--with-icon {
    flex: 1;
}

.btn--with-icon.auth-form__social-Fb {
    background-color: var(--primary);
}

.btn--with-icon.auth-form__social-Gg {
    background-color: var(--secondary-color);
}

/* login form */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0 48px; 
    font-size: 1.2rem;
}

.auth-form__help-link {
    position: relative;
}

.auth-form__help-link.auth-form__help-help {
    margin-left: 16px;
    color: #888;
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__mobile-search {
    padding: 0 28px 0 16px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 29px;
    color: var(--background-color);
}

.header__mobile-input:checked ~ .header__search {
    display: flex;
}

.header__logo {
    width: 160px;
    text-align: center;
}

.header__logo-img {
    font-size: 80px;
    color: var(--fade-color);
}

.header__name {
    width: 80px;
    font-size: 1.6rem;
    color: var(--white-color);
    font-family: cursive;
    margin-right: 10px;
}

.header__search {
    flex: 1;
    height: 36px;
    display: flex;
    background-color: var(--white-color);
    border-radius: 2px;
}

.header__search-input-wrap {
    flex: 1;
    position: relative;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-input {
    border: none; 
}

.header__search-btn {
    background-color: var(--primary);
    width: 60px;
    border: none;
    margin: 2px;
    border-radius: 2px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: var(--primary-rgba);
} 

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__cart {
    display: flex;
    width: 150px;
    font-size: 1.8rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header__cart-logo {
    color: var(--white-color);
}

/* Search history */

.header__search-history {
    position: absolute;
    right: 16px;
    left: 0;
    top: calc(100% + 6px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #999;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.header__history-heading {
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--halffade-color);
    margin-bottom: 8px;
}

.header__history-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__history-item a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    display: block;
}

.header__history-item:hover {
    background-color: var(--secondary-color);
}

.header__history-item {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 30px;
    padding-left: 10px;
    background-color: var(--fade-rgba);
}

.header__history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* cart list */

.header__cart-wrap {
    position: relative;
    padding: 8px 12px;
    cursor: pointer;
}

.header__cart-list {
    width: 400px;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: var(--fade-color);
    border-radius: 2px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 50%);
    display: none;
    animation: FadeIn ease-in .2s;
    cursor: default;
    z-index: 1;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 1px;
    cursor: pointer;
    border-style: solid;
    border-width: 20px 20px;
    border-color: transparent transparent var(--fade-color) transparent;
}

.header__cart-list--no-cart {
    padding: 16px;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    display: block;
}

.header__cart-list--no-cart-img {
    text-align: center;
    display: none;
}

.header__cart-list--no-cart-img i {
    font-size: 10rem;
    color: var(--primary-rgba);
}

.header__cart-list--no-cart-msg {
    color: var(--text-color);
    display: block;
    padding: 16px;
    font-size: 1.4rem;
    text-align: center;
    display: none;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-notice {
    position: absolute;
    top: -8px;
    right: -8px;
    color: var(--primary);
    padding: 5px 6px;
    font-size: 1.5rem;
    line-height: 10px;
    border-radius: 30px;
    border: 2px solid var(--primary-rgba);
    background: var(--fade-color);
}

/* has cart */

.header__cart-heading {
    padding: 16px 0 16px 12px;
    margin: 0;
    font-size: 1.4rem;
    color: var(--halffade-color);
    font-weight: 400;
}

.header__cart-list-item {
    padding: 0;
    list-style: none;
    margin: 8px 0;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    padding: 8px 12px;
}

.header__cart-item:hover {
    background-color: var(--secondary-color);
}

.header__cart-item-img {
    width: 56px;
    height: 56px;
    border: 2px solid var(--halffade-color);
}

.header__cart-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-head-tail {
    color: var(--white-color);
}

.header__cart-item-name {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    flex: 1;
}

.header__cart-item-price {
    color: var(--red-color);
    font-size: 1.7rem;
}

.header__cart-item-multiply {
    font-size: 1.3rem;
    margin: 0 6px;
}

.header__cart-item-qtt {
    font-size: 1.4rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.header__cart-item-desc {
    color: var(--halffade-color);
    font-weight: 500;
}

.header__cart-item-del {
    font-size: 1.6rem;
    color: var(--primary-rgba);
}

.header__cart-item-del:hover {
    color: var(--white-color);
    cursor: pointer;
}

.header__cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
}

.header__cart-list-btn {
    margin: 0 12px 12px 0px;
}

/* App container */

.app__container {
    background-color: var(--background-color);
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--fade-rgba);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    margin: 0;
    font-size: 1.7rem;
    padding: 16px;
    border-bottom: 1px solid var(--fade-color);
}

.category__heading-icon {
    font-size: 1.4rem;
    position: relative;
    top: -1px;
    margin-right: 4px;
}

.category__list {
    padding-left: 0;
    list-style: none;
    padding-bottom: 8px;
    position: relative;
}

.category-item {
    padding-left: 12px;
}

.category-item-active .category-item__link {
    color: var(--primary);
}

.category-item-active .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary);
}

.category-item__link {
    position: relative;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    color: var(--secondary-color);
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary);
}

/* Home filter */

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    background-color: var(--fade-rgba);
    border-radius: 2px;
    color: var(--text-color);
    font-size: 1.4rem;
}

.home-filter__label {
    margin-right: 12px;
}

.home-filter-btn {
    margin: 0 6px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.home-filter__page-num {
    color: var(--secondary-color);
    margin-right: 20px;
}

.home-filter__page-current {
    color:  var(--primary);
}

.home-filter__page-controls {   
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    color: var(--halffade-color);
}

.home-filter__page-btn-disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn-disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
}

/* Home product */

.home-product-item {
    margin: 16px 0 8px 0;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #ccc;
    border-radius: 2px; 
    position: relative;
    transition: transform linear .15s;
    will-change: transform;
    display: block;
    text-decoration: none;
} 

.home-product-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 8px var(--secondary-color);
}

.home-product-item__img {
    height: 231px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__body {
    padding: 0 12px 8px;
}

.home-product-item__name {
    margin: 0;
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    margin-bottom: 8px;
    height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 24px 0 16px 0;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #888;
    text-decoration: line-through;
    margin-right: 8px;
}

.home-product-item__price-current {
    font-size: 1.8rem;
    color: var(--red-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
}

.home-product-item__like {
    font-size: 1.4rem;
}

i.home-product-item__like-fill {
    color: var(--red-color);
    display: none;
}

.home-product-item__like--liked .home-product-item__like-empty {
    display: none;
}

.home-product-item__like--liked .home-product-item__like-fill {
    display: inline-block;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item__star-yellow {
    color: var(--star-yellow);
}

.home-product-item__sold {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin {
    display: flex;
    margin: 12px 0;
    font-size: 1.2rem;
    color: #555;
}

.home-product-item__origin-name {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -6px;
    font-size: 1.1rem;
    color: var(--red-color);
    background-color: currentColor;
    font-weight: 500;
    width: 75px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    padding: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-top: 5px solid currentColor;
    border-left: 5px solid transparent;
    filter: brightness(50%);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    color: var(--white-color);
}

.home-product-item__favourite-label {
    margin-left: 4px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    line-height: 1.9rem;
    text-align: center;
    background-color: var(--fade-color);
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-style: solid;
    border-width: 0 20px 5px;
    color: var(--fade-color);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: var(--red-color);
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    color: var(--white-color);
}

/* home__Pagination */

.home-product__pagination {
    margin: 48px 0 32px 0;
}

/* footer */

.footer {
    border-top: 4px solid var(--primary);
    padding-top: 12px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);

}

.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer-item__link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #666;
    display: block;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary);
    font-weight: 500;
}

.footer-item__link-icon {
    font-size: 1.8rem;
    margin-right: 4px;
}

.footer__download {
    display: flex;
}

.footer__download-qr-img {
    width: 80px;
    border: 1px solid #888;
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-link {
    text-decoration: none;
}

.footer__download-app-img {
    height: 20px;
}

/* footer bottom */

.footer__bottom {
    background-color: var(--background-color);
}

.footer__copyright {
    padding: 12px 0;
    margin: 32px 0 0 0;
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}